@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Montserrat&display=swap');

*{
	box-sizing: border-box;
	background-color: none;
}
html, body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	height: 100%;
	margin: 0;
	padding: 0;
} 

.container-fluid{
	height: 100%;
}
.contain{
	height: 100%;
}


/* NEW & SEARCH */
.newSearch{

	background-color: rgb(59, 146, 38);
	height: 100%;
}
.otherTitle{
	font-size: 1.6em;
	margin-top: 20px;
	color:white;
}


/* new */
.insert select{
	margin-top: 10px;
	margin-bottom: 10px;;
}

select .urg{
	background-color: rgb(231, 71, 43);
}
select .dia{
	background-color: rgb(252, 252, 49);
}
select .mens{
	background-color: rgb(94, 255, 30);
}

.insert .saveBtn{
	color: white;
	background-color: rgb(83, 170, 61);
	border: 1px solid rgb(38, 110, 20);
	box-shadow: 0px 2px 0 rgb(48, 126, 28), 2px 4px 6px rgb(48, 126, 28);
	transition: 0.5s;
}
.insert .saveBtn:hover{
	color: white;
	background-color: rgb(59, 146, 38);
	border: 1px solid rgb(59, 146, 38);
	box-shadow: none;


}

/* filter */
.filter p{
	font-size: 1.5em;
	margin-top: 20px;
	color: white
}
.filter select{
	margin-bottom: 15px;
	margin-top:10px;
}
.filter span{
	height: 38px;
}


/* TAREAS */

.title{
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
	margin-top:
	10px;
}
.tareas .tarea{
	padding-top: 10px;
	padding-bottom: 10px;
}
.tareas .colorPrioridad{
	width: 20px;
	height: 20px;
	border-radius: 25%;
	position: absolute;
	left: 10px;
	top: 20px;
}
.tareas .diaria .colorPrioridad{
	background-color: rgb(252, 252, 49);
}
.tareas .mensual .colorPrioridad{
	background-color: rgb(94, 255, 30);
}
.tareas .urgente .colorPrioridad{
	background-color: rgb(231, 71, 43);
}
.tareas h2{
	position: relative;
	left: 40px;
	top: 10px;
	font-size: 1.5em;
	font-family: 'Baloo Bhaina 2', sans-serif;	
}

.tareas div>a{
    font-family: 'helvetica';
    background-color:green;
    border: 2px solid green;
	display: block;
	padding: 17px 0px 20px 20px;
	color: white;
	text-decoration: none;
    width: 100px;
    height: 58px;
	position: absolute;
	top: 0px;
	right: 0px;
	transition: 1s;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.tareas div>a:hover{
    width: 120px;
    background-color: rgb(175, 252, 61);
	color: green;
	font-weight: bold;
}

.tareas div>a i{
    display: none;
    transition: 1s;
    
}
.tareas div>a:hover i{
    display: inline-block;
    padding-left: 10px;
    color: green

}

/* FOOTER */
.footer{
	padding: 10px;
	background-color: rgb(32, 32, 32);
	color: white;
}


/* mensajes */
#mensaje{
	font-size: 1em;	
}

#mensajeFiltro{
	color: white;
	padding-top: 10px;
	/* font-weight: bold; */
}


/* MEDIAS */
@media(max-width: 769px){
	html, body{
	height: auto;
}
}